backend/node_modules
backend/.env
backend/yarn.lock
backend/package-lock.json
client/node_modules
client/.env
client/yarn.lock
client/package-lock.json
frontend/node_modules
frontend/.env
frontend/yarn.lock
frontend/package-lock.json